node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Supabase Credentials
js/helpers/db_creds.js 

# Google Maps Takeout Data
assets/maps_data